<div class="container">
  <div class="row justify-content-center">
    <table class="table w-50">
      <tbody>
        <tr>
          <td>Username:</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>First name:</td>
          <td>{{ user.firstName }}</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>{{ user.lastName }}</td>
        </tr>
        <tr>
          <td>Display name:</td>
          <td></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-primary">Edit Profile</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
