<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form class="w-75" [formGroup]="form" (ngSubmit)="submit()">
        <fieldset>
          <legend>Create Group</legend>
          <label class="form-label" for="name">Name:</label>
          <input
            class="form-control mb-3"
            type="text"
            id="name"
            formControlName="name"
          />

          <label class="form-label" for="desc">Description:</label>
          <textarea
            class="form-control"
            id="desc"
            rows="3"
            formControlName="description"
          ></textarea>

          <button
            type="submit"
            class="btn btn-primary mt-4"
            [disabled]="!form.valid"
          >
            Create
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
