<div class="container">
  <div class="row justify-content-center">
    <table class="table w-50">
      <tbody>
        <tr>
          <td>Username:</td>
          <td><input class="" type="text" /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td></td>
        </tr>
        <tr>
          <td>First name:</td>
          <td></td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td></td>
        </tr>
        <tr>
          <td>Display name:</td>
          <td></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-primary">Confirm edit</button>
          </td>
          <td>
            <button class="btn btn-danger" routerLink="/profile">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
